@font-face {
  font-family: 'Inter';
  src: url(/public/fonts/Inter.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(/public/fonts/Inter.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url(/public/fonts/Inter.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url(/public/fonts/Inter.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url(/public/fonts/Inter.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url(/public/fonts/Inter.ttf);
  font-weight: 900;
}