.header {
  background: $cl-main-black;
  padding: 12px 24px;
  .logo {
    width: calc(15% - 16px);
  }

  &-contact {
    color: $cl-main-grey;
    a {
      color: $cl-main-gold !important;
      margin-left: 8px;
    }
  }
  .ant-menu {
    background-color: transparent;
    &-item {
      color: #ffffff;
    }
  }
}