.sider {
  flex: none !important;
  min-width: unset !important;
  max-width: unset !important;
  width: 15% !important;
  background: $cl-main-black !important;
  @media(min-width: 1024px) {
  width: 5% !important;
  }
}
.ant-layout {
  background: none;
}

.container {
  width: 100%;
  max-width: 1200px !important;
  margin: 0 auto;

  @media(min-width: 1024px) {
    max-width: 1024px !important;
  }
}

.section {
  padding: 80px 0;
}
