.sider {
  flex: none !important;
  min-width: unset !important;
  max-width: unset !important;
  background: $cl-main-black !important;
  display: none;

  .ant-layout-sider-children {
    width: 100%;
  }

  @media (min-width: 575px) {
    display: flex;
  }

  &.ant-layout-sider-collapsed {
    .ant-menu-title-content {
      display: none;
    }
  }

  .ant-menu-item {
    padding: 16px 24px;
    height: auto;
    line-height: normal;

    .ant-image {
      margin-right: 16px;
    }

    &-selected {
      &::after {
        content: '';
        width: 4px;
        background: $cl-main-gold;
      }
    }
  }
}

.ant-layout {
  background: none;
}

.container {
  width: 100%;
  max-width: calc(100vw - 48px) !important;
  margin: 0 auto;

  @media(min-width: 1024px) {
    max-width: 1024px !important;
  }

  &-fluid {
    width: 100%;
  }
}

.section {
  padding: 24px 0;
  width: 100%;
  overflow: hidden;

  @media (min-width: 575px) {
    overflow: visible;
    padding: 80px 0;
  }
}