html,
body {
  scroll-behavior: smooth;
  min-height: 100vh;
  background-image: url(/images/site-bg.png);
  background-size: 100% auto;
  background-attachment: fixed;
}

* {
  font-family: 'Inter' !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
  margin-bottom: 16px !important;
}

h1 {
  font-size: 28px !important;
}

h2 {
  font-size: 24px !important;
}

h3 {
  font-size: 16px !important;
}

h4 {
  font-size: 14px !important;
}

.ant-space {
  display: flex !important;
  width: 100%;
}

.ant-image {
  display: flex !important;
  align-items: center;
}

.ant-rate-star {
  margin: 0 1px !important;

  svg {
    width: 16px;
    height: 16px;
  }
}

.card {
  width: 100% !important;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;

  .ant-table-wrapper {
    display: block;
    overflow-x: scroll;

    @media (min-width: 575px) {
      overflow: visible;
      display: table;
    }

    table {
      width: 250%;

      @media (min-width: 575px) {
        width: 100%;
      }
    }
  }

  .small-title {
    margin-bottom: 8px;
  }

  .ant-card-head {
    border: none !important;
    padding: 16px 16px 0 !important;
    min-height: unset !important;
    margin-bottom: -8px !important;
    word-wrap: break-word !important;

    @media (min-width: 1200px) {
      padding: 24px 24px 0 !important;
    }
  }

  .ant-card-body {
    padding: 16px !important;

    @media (min-width: 1200px) {
      padding: 24px !important;
    }

  }

  &.nobody {
    .ant-card-head {
      padding: 16px !important;

      @media (min-width: 1200px) {
        padding: 24px !important;
      }
    }

    .ant-card-body {
      display: none;
    }
  }
}

.noti {
  div {
    font-size: 16px !important;
  }
}

@media(min-width: 1023px) {
  h1 {
    font-size: 52px !important;
    margin-bottom: 14px !important;
  }

  h2 {
    font-size: 32px !important;
    margin-bottom: 12px !important;
  }

  h3 {
    font-size: 20px !important;
    margin-bottom: 10px !important;
  }
}

@media(min-width:1200px) {
  h1 {
    font-size: 60px !important;
    margin-bottom: 14px !important;
  }

  h2 {
    font-size: 38px !important;
    margin-bottom: 12px !important;
  }

  h3 {
    font-size: 24px !important;
    margin-bottom: 10px !important;
  }
}