.table {
  width: 100%;

  th {
    background-color: transparent !important;

    &::before {
      display: none;
    }
  }

  td {
    span {
      @media(min-width: 1200px) {
        font-size: 16px;
      }

      strong {
        @media(min-width: 1023px) {
          font-size: 14px !important;
        }
        @media(min-width: 1200px) {
          font-size: 16px !important;
        }
      }
    }
  }

  .ant-space-item {
    font-size: 14px;

    @media(min-width: 1200px) {
      font-size: 16px;
    }
  }

  .ant-tag {
    font-size: 12px;
    font-weight: 500;
    background-color: #DEF8EE;
    color: #198D63;
    padding: 4px 8px;
    border: none;

    @media(min-width: 1200px) {
      font-size: 12px;
      padding: 0px 8px;
    }
  }
}