// Colors
$cl-main-gold: #FAC232;
$cl-main-black: #1A1816;
$cl-main-grey: #E8E8E8;
$cl-main-red: #BB2B17;
$cl-text-in-white: #DC9F00;

//Typo
$cl-text--primary: $cl-main-black;
$cl-text--secondary: #6F6D6C;