.dashboard {
  background-image: url(/images/dashboard-bg.png);
  background-size: 100% auto;
  background-attachment: fixed;
  max-height: 100vh;
  overflow: hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400 !important;
  }

  form {
    background: #F4F4F4;
    padding: 24px;
    border-radius: 4px;

    .input-tips {
      font-size: 14px;
      margin: 8px 0 12px 0 ;
      color: $cl-text-in-white;

      @media(min-width: 1200px) {
        font-size: 14px;
        margin: 0 0px 0 4px;
      }
      @media(min-width: 1023px) {
        font-size: 14px !important;
        margin: 0 4px 0 0;
        
      }
    }
    .highlight {
      font-size: 20px;
      color: $cl-main-gold;
    }

    .checkout {
      * {
        font-size: 14px;
      }
      

      &-label {
        color: #9D9C9B;
        width: 100px;
        margin-right: 8px;
        &-width-auto {
          width: auto;
        }
      }
    }
  }

  input {
    height: 45px;
  }

  &-content {
    padding: 24px 32px;
    height: calc(100vh - 54px);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
  
    @media (min-width: 575px) {
      overflow-x: visible;
    }
  }

  .miner {

    &-label,
    &-value {
      font-size: 1px;
    }

    .ant-space-item {
      
      strong {
        font-size: 14px !important;
        
        @media(min-width: 1200px) {
          font-size: 16px !important;
        }
        @media(min-width: 1023px) {
          font-size: 14px !important;
        }
      }
    }

    &-label {
      font-size: 14px;
      @media(min-width: 1200px) {
        font-size: 16px !important;
      }
      @media(min-width: 1023px) {
        font-size: 14px !important;
      }
    }
  }

  .ant-card {
    span {
      display: block;
    }
  }

  .survey {
    &-card {
      cursor: pointer;
      transition: .15s all ease;

      &:hover {
        background-color: #FFF9EB;
      }
    }

    &-item {
      text-align: center;
      row-gap: 12px;

      .title {
        margin-bottom: 4px !important;
        font-weight: 600 !important;
      }

      .sub-title {
        font-weight: 400;
        font-size: 14px;
        
        @media(min-width: 1023px) {
          font-size: 14px !important;
        }
        @media(min-width: 1200px) {
          font-size: 16px !important;
        }
      }

      .time {
        &-icon {
          width: 14px;
          margin-right: 4px;
        }

        &-text {
          font-size: 12px;
          color: $cl-text--secondary;

          @media(min-width: 1200px) {
            font-size: 14px;
          }
        }
      }
    }

    .ant-rate {
      .ant-rate-star svg {
        color: $cl-main-gold;
        @media(min-width: 1023px) {
          width: 14px;
          height: 14px;
        }
        @media(min-width: 1200px) {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .referral-program {
    .referred-user {
      font-size: 16px;
      margin-bottom: 8px;
      display: inline-block;
      @media(min-width: 1200px) {
        font-size: 16px;
        margin: 0 0px 0 8px;
      }
    }
  }

  .news {
    a {
      color: darken($cl-main-gold, 5%) !important;
      font-weight: 500;
      text-decoration: underline;
    }
  }

  .dashboard-row {
    flex-wrap: wrap-reverse;
    row-gap: 24px;
    @media (min-width: 575px) {
      flex-wrap: wrap;
      row-gap: auto;
    }
  }
}