.signin {
  h1 {
    font-weight: 900 !important;
    margin-bottom: 24px !important;
  }

  &-intro {
    color: $cl-text--secondary;
    margin-bottom: 16px;
    display: flex;

    a {
      color: $cl-main-gold;
      font-weight: 500;
      margin: 0 4px;
      &:hover {
        color: $cl-main-gold;
      }
    }
  }

  form {
    input {
      padding: 16px 24px;
      font-size: 20px;
      margin-bottom: 8px;
    }

    .ant-form-item-explain {
      font-size: 14px;
      font-weight: 500;
      color: $cl-main-gold;
    }
  }

  &-social {
    margin-top: 24px;

    span {
      color: $cl-text--primary;
      margin-bottom: 16px;
      display: flex;
    }

    a {
      padding: 16px;
      margin-right: 16px;
      border-radius: 50%;
      border: 2px solid $cl-main-black;
      .ant-image {
        display: flex;
        width: 20px !important;
        height: 20px !important;
        img {
          width: 100%;
        }
      }
    }
  }
}

.features {
  background: #f4f4f4;
  text-align: center;
  img {
    width: 240px !important;
  }
  span {
    line-height: 26px;
  }
}